{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="block">
    <div class="">
      <div class="cart">
        
        <div class="position-relative container" style="height: 80vh; overflow: scroll;">
          <!-- <div class="loadingcartitems flex-column align-items-center justify-content-center w-100 h-100 top-0 bg-dark200" style="z-index:1199; position: absolute;"> -->

            {% for i in items %}
          <div class="mb-2 d-flex align-items-center border-bottom p-3 cart-item" style="
    background: aliceblue;
    border-radius: 2em;
">
            <!-- Image -->
            <div class="me-3">
              <img
                src="{%if i.product.image %}{{ i.product.image.url }}{%endif%}"
                width="200"
                data-toggle="modal"
                data-target="#imagedisplaymodal"
                class="imagedisplaybtn img-fluid"
                imgsrc="{%if i.product.image %}{{ i.product.image.url }}{%endif%}"
              >
            </div>

            <!-- Name -->
            <div class="flex-grow-1 fw-bold">
              {{ i.product.ref.upper }} {{ i.product.name.upper }}
            </div>

            <!-- Price -->
            <div class="mx-3 text-end">
              <small class="priceholder" price="{{ i.product.sellprice }}">
                {{ i.product.sellprice }}
              </small>
            </div>

            <!-- Remise -->
            <div class="mx-3">
              {{ i.product.remise }}%
            </div>

            <!-- Quantity -->
            <div class="mx-3">
              <input
                class="form-control form-control-sm"
                style="width:170px"
                value="{{ i.qty }}"
                onchange="updatecartitem(event, {{ i.id }}, {{ i.product.id }}, {{ i.cart.id }})"
              >
            </div>

            <!-- Action -->
            <div class="mx-3">
              <button
                class="btn btn-danger btn-sm"
                onclick="cancelproduct(event, {{ i.product.id }})"
              >
                X
              </button>
            </div>

            <!-- Status -->
            <div class="ms-2">
              <div class="status {{ i.status }}"></div>
            </div>

          </div>
          {% endfor %}
        </div>
        
          

        </div>
        <div>
          

        </div>
      </div>
      
      <p hidden class="total text-success"></p>
  <!--<button class="btn btn-primary valider w-100" style="position: fixed; bottom: 0;" disabled>
        valider le panier
        </button>-->
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  
  
</script>
<script src="{% static 'js/catalog.js'%}"></script>
<script src="{% static 'js/cart.js'%}"></script>
<script>
  function updatecartitem(event, cartitemid, productid, cartid){
    $.get('/updatecartitem', {'cartitemid':cartitemid, qty:$(event.target).val(), productid:productid, cartid:cartid}, (data)=>{
        location.reload()
    })
  }
  
</script>
{% endblock %}