{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" src="{% static 'css/owl.carousel.min.js'%}">
<style>
	.product-wrapper {
    position: relative;
    min-height: 300px;
}

.product-group {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.product-group.active {
    opacity: 1;
    position: relative;
}

</style>
{% endblock %}



{% block content %}
<div hidden class="clientidholder border rounded p-2" clientid="{{user.client.id}}"></div>
<div class="">

	<!-- <div class="col-md-4">
		<h5 class="text-center p-2" style="background: #0d44a2;
		color: white;">
			Promotions
		</h5>
		<div class="owl-carousel mt-3">
			{% for i in promotions %}
			<div class="block-sale__item item">
				<div class="product-card ">
					
					<div class="product-card__image">
					  <div class="image image--type--product">
						<a href="/product/{{i.id}}" class="image__body">
						  <img class="image__tag" src="{% if i.image %}{{i.image.url}}{%endif%}" alt="">
						</a>
					  </div>
					  <div class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text">
						<div class="status-badge__body">
						  <div class="status-badge__icon">
							<svg width="13" height="13">
							  <path d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z"></path>
							</svg>
						  </div>
						  <div class="status-badge__text">Part Fit for 2011 Ford Focus S</div>
						  <div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="" data-original-title="Part Fit for 2011 Ford Focus S"></div>
						</div>
					  </div>
					</div>
					<div class="product-card__info">
					  <div class="product-card__name">
						<div>
							{{i.ref|upper}} {{i.name|upper}}</a>
						</div>
					  </div>
					  
					</div>
					<div class="product-card__footer justify-content-between">
					  <div class="d-flex flex-column">
						<div class="product-card__price product-card__price--current">{{i.price|floatformat:2}}</div>
						<div class="rounded text-primary">{{i.offre}}</div>
					  </div>
					  <button class="product-card__addtocart-icon" type="button" aria-label="Add to cart">
						<svg width="20" height="20">
						  <circle cx="7" cy="17" r="2"></circle>
						  <circle cx="15" cy="17" r="2"></circle>
						  <path d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6
					  V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4
					  C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z"></path>
						</svg>
					  </button>
					</div>
				</div>
			<http://178.128.245.48//div>
			{% endfor %}
			
			
			
		</div>
	</div> -->
	<div class="row">

		<div class="col-3 p-3 text-center" style="background: red; color: white;">NEW ARRIVAGE</div>
		<div class="col-3 p-3 text-center" style="background: red; color: white;">NEW ARRIVAGE</div>
		<div class="col-3 p-3 text-center" style="background: red; color: white;">NEW ARRIVAGE</div>
		<div class="col-3 p-3 text-center" style="background: red; color: white;">NEW ARRIVAGE</div>
	</div>
	<div class="product-wrapper position-relative">

		{% for group in grouped_products %}
		<div class="product-group {% if forloop.first %}active{% endif %}">
			<div class="row">
				{% for i in group %}
				<div class="col-3 p-3 text-center" style="border:1px solid red;">
					{% if i.image %}
					<img src="{{i.image.url}}" style="width:100%;">
					{% endif %}
					<strong>{{ i.ref|upper }} {{ i.name|upper }}</strong>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	
	</div>
	<!-- <div class="row">
		<a href="/newarrivage" class="col-3 border rounded p-3">
			<img src="/media/logos/arrivage.jpg" style="width: 100%;">
		</a>
		<div class="col-9 border d-flex">
			
			<div class="owl-carousel mt-3">
				{% for i in categories %}
				<div  class="p-2 d-flex justify-content-between align-items-center" style="border:1px solid; border-radius: 10px;">
					<a href="/categories/products/{{i.id}}">
						{% if i.image %}
						<img class="image__tag" src="{{i.image.url}}" alt="" style="width: 100%;">
						{% else %}
						<img class="image__tag" src="" alt="">
						{% endif %}
						<div class="text-center">
							<b class="categoryname">
								{{i.name.upper}}
							</b> <br>
							<small>{{i.total_products}} PRODUITS</small>
						</div>
	
					</a>
					
				</div>
				{% endfor %}
			</div>
		</div>
	</div> -->
	
	
	<div class="mt-3 p-2 row border">

		<div class="col-4 d-flex" style="margin: 0 0 auto 0;">
			<div class="d-flex">

				<button class="btn btn-success btn-sm" onclick="searchrepexpert()">
					REPEXPERT
				</button> 
				<input type="text" class="repinput form-control" placeholder="Chercher REPEXPERT">
			</div>
		</div>
		<div class="col-8 row">
			<div class="p-2 bg-dark mt-3 justify-content-between align-items-center d-flex" style="border-radius: 10px; border: 2px solid red;">
				<div class="">
				</div>
				<div class="col-6 d-flex">
					<h3 class="text-white px-5">
						CATEGORIES
					</h3>
					<input type="text" class="form-control" placeholder="Checher" oninput="searchcategoy(event)">
				</div>
			</div>
			{% for i in categories %}
				<div  class="col-3 p-2 d-flex justify-content-between align-items-center" style="border:1px solid; border-radius: 10px;">
					<a href="/categories/products/{{i.id}}">
						{% if i.image %}
						<img class="image__tag" src="{{i.image.url}}" alt="" style="width: 100%;">
						{% else %}
						<img class="image__tag" src="" alt="">
						{% endif %}
						<div class="text-center">
							<b class="categoryname">
								{{i.name.upper}}
							</b> <br>
							<small>{{i.total_products}} PRODUITS</small>
						</div>
	
					</a>
					<!-- <a href="categories/products/{{i.id}}" class="text-end">
					</a> -->
				</div>
				{% endfor %}
		</div>
	</div>
	<div class="p-2 bg-dark mt-3 justify-content-between align-items-center d-flex" style="border-radius: 10px; border: 2px solid red;">
		<div class="">
		</div>
		<div class="col-6 d-flex">
			<h3 class="text-white px-5">
				CATEGORIES
			</h3>
			<input type="text" class="form-control" placeholder="Checher" oninput="searchcategoy(event)">
		</div>
	</div>
	<div class="row px-5 mt-3">
		{% for i in categories %}
		<div class="col-md-4 col-6 mb-2 category{{i.id}} category">
			<div  class="p-2 d-flex justify-content-between align-items-center" style="border:1px solid; border-radius: 10px;">
				<a href="/categories/products/{{i.id}}">
					{% if i.image %}
					<img class="image__tag" src="{{i.image.url}}" alt="" style="width: 100%;">
					{% else %}
					<img class="image__tag" src="" alt="">
					{% endif %}
					<div class="text-center">
						<b class="categoryname">
							{{i.name.upper}}
						</b> <br>
						<small>{{i.total_products}} PRODUITS</small>
					</div>

				</a>
				<!-- <a href="categories/products/{{i.id}}" class="text-end">
				</a> -->
			</div>
		</div>
		
		{% endfor %}
	</div>
	<!-- <div class="p-2 bg-dark mt-3" style="border-radius: 10px;">
		<div class="text-center">
			<h3 class="text-white">
				Marques
			</h3>
		</div>
	</div> -->
	<!-- <div class="categories-list categories-list--layout--columns-4-sidebar px-5">
		<ul class="categories-list__body">
			{% for i in categories %}
				<li class="categories-list__item">
				<a href="categories/products/{{i.id}}">
					<div class="image image--type--category">
					<div class="image__body">
					{% if i.image %}
					<img class="image__tag" src="{{i.image.url}}" alt="">
					{% else %}
					<img class="image__tag" src="" alt="">
					{% endif %}
					</div>
					</div>
					<div class="categories-list__item-name">
						
					</div>
				</a>
				<div class="categories-list__item-products">({{i.total_products}} Produits)</div>
				</li>
			{% endfor %}
		  <li class="categories-list__divider"></li>
		  
		</ul>
	  </div> -->
	<!-- <div class="tabs row mt-2">
		
		<section id="section2 border">
			<div class="block block-categories">
				
				<div class="">
				  
				  <div class="p-2">
					<div class="mb-2 d-flex justify-content-between">
						
						<input type="text" placeholder="Categories" aria-describedby="button-addon1" class="form-control border bg-light" id="searchboxctg">
						<svg xmlns="http://www.w3.org/2000/svg" id="b2448b99-d97f-419e-8dc3-d5510f0392fe" data-name="Layer 1" width="72" height="47" viewBox="0 0 709.53268 558.59384" class="injected-svg ClassicGrid__ImageFile-sc-td9pmq-4 fNAcXv grid_media" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M664.81368,212.24945a135.01972,135.01972,0,1,0,7.65509,199.4028L838.08687,551.4a12.44209,12.44209,0,0,0,16.06592-19.00287l-.01831-.01544L688.51631,392.63391A135.02729,135.02729,0,0,0,664.81368,212.24945ZM654.13692,379.17712a101.15765,101.15765,0,1,1-12.0766-142.54788l.00006,0A101.15764,101.15764,0,0,1,654.13692,379.17712Z" transform="translate(-245.23366 -170.70308)" fill="#3f3d56"></path></svg>
					</div>
					<div class="block-categories__list d-flex">
					  
					  {% for i in categories %}
					  <a href="categories/products/{{i.id}}" class="block-categories__item category-card category-card--layout--classic products-list__item ctgcards">
						<div class="category-card__body">
						  <div class="d-flex flex-column category-card__content align-items-center">
							<div class="category-card__image image image--type--category">
							  <div class="image__body">
								{% if i.image %}
								<img class="image__tag" src="{{i.image.url}}" alt="">
								{% else %}
								<img class="image__tag" src="" alt="">
								{% endif %}
							  </div>
							</div>
							<strong>
								<b>
									{{i.name.upper}}
								</b>
								({{i.total_products}} Produits)
								 {% if i.has_promotion %}
								(Promotion)
								{% endif %}
							</strong>
						  </div>
						</div>
					  </a>
					  
					  {% endfor %}
					</div>
				  </div>
				</div>
			</div>
		</section>
		 <section id="section1" style="background: #efefef;">
			<div class="block block-categories">
				
				<div class="">
				  
				  <div class="p-2">
					<div class="mb-2 d-flex justify-content-between">
						
						<input type="text" placeholder="Marque" aria-describedby="button-addon1" class="form-control border bg-light" id="searchboxmarks">
						<svg xmlns="http://www.w3.org/2000/svg" id="b2448b99-d97f-419e-8dc3-d5510f0392fe" data-name="Layer 1" width="72" height="47" viewBox="0 0 709.53268 558.59384" class="injected-svg ClassicGrid__ImageFile-sc-td9pmq-4 fNAcXv grid_media" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M664.81368,212.24945a135.01972,135.01972,0,1,0,7.65509,199.4028L838.08687,551.4a12.44209,12.44209,0,0,0,16.06592-19.00287l-.01831-.01544L688.51631,392.63391A135.02729,135.02729,0,0,0,664.81368,212.24945ZM654.13692,379.17712a101.15765,101.15765,0,1,1-12.0766-142.54788l.00006,0A101.15764,101.15764,0,0,1,654.13692,379.17712Z" transform="translate(-245.23366 -170.70308)" fill="#3f3d56"></path></svg>
					</div>
					<div class="block-categories__list">
						<ul class="block-brands__list">
							
					  {% for i in cc %}
					  <a href="/marks/products/{{i.id}}" class="block-categories__item category-card category-card--layout--classic products-list__item markscards">
						<div class="category-card__body">
						  <div class="d-flex flex-column category-card__content align-items-center">
							<div class="category-card__image image image--type--category">
							  <div class="image__body">
								<img class="image__tag" src="{{i.image}}" alt="">
							  </div>
							</div>
							<strong>
								<b>
									{{i.name.upper}}
								</b>
								{{i.total_products}} Produits
								{% if i.has_promotion %}
								(Promotion)
								{% endif %}
							</strong>
						  </div>
						</div>
					  </a>
					  {% endfor %}
					</div>
				  </div>
				</div>
			</div>
		</section>
		
		
	</div> -->

	<div class="block block-brands block-brands--layout--columns-8-full mt-3">
		<div class="container">
		  <ul class="block-brands__list">
			{% for i in cc %}
			<li class="block-brands__item">
			  <div href="#" class="block-brands__item-link">
				{% if i.image %}
				<img src="{{i.image.url}}" alt="">
				{% endif %}
				<span class="block-brands__item-name">{{i.name}}</span>
			  </div>
			</li>
			{% endfor %}
			
		  </ul>
		</div>
	  </div>
</div>


{% endblock %}

{% block js %}

<script src="{% static 'js/catalog.js' %} "></script>

<script src="{% static 'js/owl.min.js'%}"></script>
<script>
	$(document).ready(function(){
		let groups = document.querySelectorAll('.product-group');
		let current = 0;

		setInterval(() => {
			groups[current].classList.remove('active');

			current = (current + 1) % groups.length;

			groups[current].classList.add('active');
		}, 3000);
	$(".owl-carousel").owlCarousel({
		center: true,
            loop:true,
            margin:30,
            nav:false,
            dots:true,
            autoplay: true,
            slideTransition: 'linear',
            autoplayTimeout: 3000,
            autoplaySpeed: 3000,
            autoplayHoverPause: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:3
                }
            }
	})
	$(".arrivage-carousel").owlCarousel({
		nav:false,
		dots:false,
		autoplay: true,
		items:1,
		loop:true,
	});
	})
	$('.searchinputcategories').on('input', function() {
         var filter = $(this).val().toUpperCase();
         $('.ctglist').each(function() {
            var categoryName = $(this).text().toUpperCase();
            if (categoryName.indexOf(filter) > -1) {
               $(this).show();
            } else {
               $(this).hide();
            }
         });
      });
	$('.searchinputmarks').on('input', function() {
         var filter = $(this).val().toUpperCase();
         $('.mrklist').each(function() {
            var categoryName = $(this).text().toUpperCase();
            if (categoryName.indexOf(filter) > -1) {
               $(this).show();
            } else {
               $(this).hide();
            }
         });
      });
	// $('.searchpc').on('change', ()=>{
	// 	var searchpc = $('.searchpc').val()
	// 	if(searchpc.length > 0){
	// 		$.get('/client/searchglobal', {term: searchpc}, (data)=>{
	// 			$('.searchresults').html(data.html)
	// 			$('.cmnd').each((i, el)=>{
	// 				$(el).on('click', ()=>{
	// 					// id=$(el).attr('pdct');
	// 					$(el).addClass('d-none')
	// 					$(el).parent().find('.anullercmnd').removeClass('d-none')
	// 					$(el).attr('disabled', true)
	// 					ref=$(el).attr('pdctref')
	// 					name=$(el).attr('pdctname')
	// 					ctg=$(el).attr('pdctcategory')
	// 					pr=$(el).attr('pdctpr')
	// 					id=$(el).attr('pdctid')
	// 					img=$(el).attr('pdctimg')
	// 					//min is remise
	// 					min=$(el).attr('pdctremise')
	// 					// get nearest item
	// 					let qty = $(el).parent().find('.input-number > .input-number__input').val()
	// 					// add new row to coommand table
	// 					addcmnd(name, ctg, ref, qty, pr, id, img, min)
	// 					// update total

	// 				})
	// 			})
	// 		})
	// 	} else {
	// 		$('.searchresults').html('')
	// 	}
	// })
	
	function searchrepexpert(){
		let inpval=$('.repinput').val()
		if (inpval==''){
			return
		}
		let url='https://www.repxpert.ma/fr/search/results?q='+inpval
		window.open(url, '_blank')
		
	}
	function searchvinrepexpert(){
		let inpval=$('.vinrepinput').val()
		if (inpval==''){
			return
		}
		//let url='https://auto3n.ru/catalogs/-vehicles?ident_string='+inpval+'&ft=findVehicle&c='
		let url='https://www.parts-catalogs.com/eu/demo/#/carInfo?q='+inpval
		window.open(url, '_blank')
		
	}
</script>
{% endblock %}
